<!DOCTYPE html>
<html lang="en">
<head>
    <title>Restaurant</title>
</head>
<body>
<header>
    Logo / Restaurant name
</header>

<main>
    Search reservation
    <form action="/search" method="post">
        <input type="datetime-local" name="startTime" placeholder="Start"/>
        <input type="datetime-local" name="endTime" placeholder="End"/>
        <input type="number" name="peopleCount" placeholder="People count"/>
        <button type="submit">Search</button>
    </form>
</main>

<footer>
    Contact / info
</footer>
</body>
</html>